* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-height: 4.5rem;

  /* colors */
  --hue: 0; /* Changed hue to black */
  /* HSL color mode */
  --base-color: hsl(var(--hue), 10%, 10%); /* Dark base color */
  --base-color-second: hsl(var(--hue), 10%, 20%); /* Darker base color */
  --base-color-alt: hsl(var(--hue), 10%, 5%); /* Darkest base color */
  --title-color: hsl(var(--hue), 0%, 90%); /* Light title color */
  --text-color: hsl(0 0% 46%); /* Original text color */
  --text-color-light: hsl(0 0% 98%); /* Original light text color */
  --body-color: hsl(0 0% 98%); /* Original body color */

  /*fonts*/
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;

  --title-font: "Poppins", sans-serif;
  --body-font: "DM Sans", sans-serif;
}

body {
  font-family: var(--body-font); /* Use body font variable */
  margin: 0;
  padding: 0;
  background-color: var(--base-color); /* Use dark base color for background */
  color: var(--text-color); /* Use original text color */
}
p {
  text-align: justify;
}

header {
  background-color: var(
    --base-color-second
  ); /* Use darker base color for header */
  color: var(--title-color); /* Use light title color */
  padding: 20px;
  text-align: center;
}

button {
  background-color: var(
    --base-color-alt
  ); /* Use darkest base color for buttons */
  color: var(--title-color); /* Use light title color for button text */
  padding: 10px 20px;
  border: none;
  border-radius: 1em;
  cursor: pointer;
}

button:hover {
  transition: ease-in-out 0.3s;
  background-color: var(
    --base-color-second
  ); /* Use darker base color on hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
  padding: 20px;
  margin: 20px;
}

footer {
  background-color: var(
    --base-color-second
  ); /* Use darker base color for footer */
  color: var(--title-color); /* Use light title color for footer text */
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Add custom styles for the section divider */
#introduction .row::after {
  content: "";
  display: block;
  clear: both;
}

#introduction .col-md-6 {
  float: left;
  width: 50%;
  position: relative; /* Add position relative */
}

#introduction h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* Add vertical divider line */
#introduction .col-md-6.related-info::before {
  content: "";
  border-left: 1px solid #ccc;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; /* Change left to 0 */
}

.carousel-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 1em;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
}

.card {
  flex: 0 0 auto;
  /* width: 98%; */
  margin: 0 10px;
  background-color: var(--base-color-alt);
  border: 1px solid var(--base-color-second);
  padding: 20px;
}

.card-text,
.card-title,
.text-body-secondary {
  color: var(--text-color-light) !important;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1em;
}
.card-tips {
  border: 1px solid var(--base-color-second);
  border-radius: 0.5em;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.card-tips:hover {
  background-color: var(--base-color-alt);
  border: 1px solid var(--base-color-second);
  transform: scale(1.05);
}

.emoji-alert,
.emoji-spy,
.emoji-backpack,
.emoji-bus,
.emoji-plan,
.emoji-lock,
.emoji-neighborhood-watch,
.emoji-light,
.emoji-camera {
  font-size: 3em; /* Ajusta o tamanho dos emojis */
  margin: 0; /* Remove as margens dos emojis */
}

.feedback-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}

.highlighted-section {
  background-color: var(
    --base-color-alt
  ); /* Usando a variável de cor mais escura */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

  /* Adicionando transição suave para a mudança de cor no hover */
  transition: background-color 0.3s ease-in-out;
}

.highlighted-section h2 {
  color: var(--title-color); /* Usando a variável de cor para títulos */
}

.highlighted-section p {
  margin-bottom: 10px;
  color: var(--text-color); /* Usando a variável de cor para texto */
}

.highlighted-section button {
  background-color: var(
    --base-color-second
  ); /* Usando a variável de cor secundária */
  color: var(
    --text-color-light
  ); /* Usando a variável de cor para texto claro */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.3);
}

.highlighted-section button:hover {
  background-color: var(
    --base-color
  ); /* Alterando a cor de fundo ao passar o mouse */
  color: var(
    --text-color-light
  ); /* Mantendo a cor do texto clara ao passar o mouse */
  animation: glow 1s infinite alternate;
}
.moving-button {
  animation: moveButton 3s ease-in-out infinite alternate; /* Define a animação */
}

@keyframes glow {
  0% {
    opacity: 0.5; /* Começa com opacidade reduzida */
  }
  50% {
    opacity: 1; /* Aumenta a opacidade pela metade da animação */
  }
  100% {
    opacity: 0.5; /* Retorna à opacidade reduzida */
  }
}

@keyframes moveButton {
  0% {
    transform: translateY(0); /* Define a posição inicial */
  }
  100% {
    transform: translateY(10px); /* Define a posição final */
  }
}

footer {
  background-color: var(--base-color-second);
  padding: 20px 0;
  text-align: center;
  width: 100%;
  position: relative;
  clear: both;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content p {
  margin: 5px 0;
}
